<div id="<%= dom_id email %>">
  <div class="container">
    <div class="row">
      <div class="col-3"><strong>
        Object </strong>
      </div>
      <div class="col"> <strong>
        Body </strong>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <%= email.object %>
      </div>
      <div class="col">
        <%= email.body %>
      </div>
    </div>
  </div>
</div>